<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>

    <ion-buttons slot="primary" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.firstname" name="firstname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.lastname" name="lastname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Alias <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.username" name="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar contraseña <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>
    <ion-row>
      <div class="ion-text-center">
        {{passwordMessage}}
      </div>
    </ion-row>
    <ion-item>
      <ion-label position="floating">E-mail <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.phone" name="phone" required></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit" size="block">Crear cuenta</ion-button>
  </form>
  <br>
  <ion-row>
    <div class="ion-text-center">
      ¿Ya tenés cuenta? <a (click)="goBack()">Iniciar sesión</a>
    </div>
  </ion-row>
</ion-content>