<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido/a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
  <ion-slides>

    <ion-slide>
      <img src="../../assets/img/libreos_logo.jpeg" />
      <h2>Dona un libro</h2>
      <p>Agrega a tu biblioteca un libro que desees donar a la comunidad.</p>
      <p>¡Puedes donar tantos libros como quieras!</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/libreos_logo.jpeg" />
      <h2>Elige un libro</h2>
      <p>Utiliza el buscador para encontrar un libro cerca tuyo.</p>
      <p>Cuando veas un libro que te interesa, puedes solicitarlo a su dueño/a.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/libreos_logo.jpeg" />
      <h2>Comunícate</h2>
      <p>Cuando solicites un libro, su dueño/a te enviará sus datos para que puedas contactarte.</p>
      <p>Ten en cuenta que es decisión de él/ella aceptar tu solicitud.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/libreos_logo.jpeg" />
      <h2>Obtén un libro</h2>
      <p>Confirma el traspaso del libro fácilmente cuando estés con el dueño/a del libro.</p>
      <p>Se generará un código QR para que lo puedas escanear con tu teléfono.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/libreos_logo.jpeg" />
      <h2>¿Listo/a para empezar?</h2>
      <ion-button (click)="goToHome()">COMENZAR</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>