<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido/a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" padding scroll-y="false">
  <ion-slides>
    <ion-slide>
      <img class="start-guide__img" src="../../../assets/img/libreos_logo.jpeg" />
      <ion-title>Dona un libro</ion-title>
      <p>Agrega a tu biblioteca un libro que desees donar a la comunidad.</p>
      <p>¡Puedes donar tantos libros como quieras!</p>
    </ion-slide>

    <ion-slide>
      <img class="start-guide__img" src="../../../assets/img/libreos_logo.jpeg" />
      <ion-title>Elige un libro</ion-title>
      <p>Utiliza el buscador para encontrar un libro cerca tuyo.</p>
      <p>Cuando veas un libro que te interesa, puedes solicitarlo a su dueño/a.</p>
    </ion-slide>

    <ion-slide>
      <img class="start-guide__img" src="../../../assets/img/libreos_logo.jpeg" />
      <ion-title>Comunícate</ion-title>
      <p>Cuando solicites un libro, su dueño/a te enviará sus datos para que puedas contactarte.</p>
      <p>Ten en cuenta que es decisión de él/ella aceptar tu solicitud.</p>
    </ion-slide>

    <ion-slide>
      <img class="start-guide__img" src="../../../assets/img/libreos_logo.jpeg" />
      <ion-title>Obtén un libro</ion-title>
      <p>Confirma el traspaso del libro fácilmente cuando estés con el dueño/a del libro.</p>
      <p>Se generará un código QR para que lo puedas escanear con tu teléfono.</p>
    </ion-slide>

    <ion-slide>
      <img class="start-guide__img" src="../../../assets/img/libreos_logo.jpeg" />
      <ion-title>¿Listo/a para empezar?</ion-title>
      <ion-button (click)="goToHome()">COMENZAR</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>