<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Editar Perfil</ion-title>

    <ion-buttons slot="primary" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form (ngSubmit)="updateUser()">
      <ion-item>
        <ion-label position="floating">Correo<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre de Usuario<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" [(ngModel)]="user.firstname" name="firstname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" [(ngModel)]="user.lastname" name="lastname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" [(ngModel)]="user.phone" name="phone" required></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full">Aceptar</ion-button>
    </form>
  </div>
</ion-content>