<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>

    <ion-buttons slot="primary" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" id="container">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-avatar class="profile__avatar">
          <img src="../../../assets/img/user_avatar.png">
        </ion-avatar>
        <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
        <ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Datos de contacto</ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>{{user.email}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-label>{{user.phone}}</ion-label>
          </ion-item>
        </ion-item-group>

        <br>

        <div class="profile__buttons ion-text-right">
          <ion-button class="first-btn">Dar de baja</ion-button>
          <ion-button class="second-btn" (click)="goToEdit()">Editar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>