<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Solicitudes</ion-title>

    <ion-buttons slot="primary" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" id="container">
    <ion-title>Mis solicitudes</ion-title>
    <br>
    <ion-list *ngFor="let userTransaction of requestTransactions">
      <app-item-transaction (emitEvent)="receiveEvent($event)" [transaction]="userTransaction.transaction"
        [itsRequest]="true">
      </app-item-transaction>
    </ion-list>

    <ion-title>Solicitudes de la comunidad</ion-title>
    <br>
    <ion-list *ngFor="let userTransaction of pendingTransactions">
      <app-item-transaction (emitEvent)="receiveEvent($event)" [transaction]="userTransaction.transaction"
        [itsRequest]="false">
      </app-item-transaction>
    </ion-list>
  </div>
</ion-content>