<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Agregar Libro</ion-title>

    <ion-buttons slot="primary" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" style="height: 100%">
  <div class="ion-padding" id="container">
    <ion-title class="ion-text-center">Puedes agregar un libro cargando el código ISBN <br> o de manera manual</ion-title>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="block" color="primary" (click)="goToScan()">Leer código ISBN</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="block" color="secondary" (click)="goToManual()">Carga Manual</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>