<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Agregar Libro</ion-title>

    <ion-buttons slot="primary" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">
    <h1>Puedes agregar un libro cargando el código ISBN o manualmente</h1>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="goToScan()">Leer código ISBN</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="goToManual()">Carga Manual</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>