<ion-card>
  <img src="{{transaction.book.image}}">
  <ion-card-header>
    <ion-card-title>{{transaction.book.title}}</ion-card-title>
    <ion-card-subtitle>
      <p>{{transaction.book.authors}}</p>
      <p>
        {{  transaction.book.synopsys ? 
          transaction.book.synopsys.length > 100 ? 
            (transaction.book.synopsys | slice:0:100) + (transaction.book.synopsys.length > 100 ? '...' : '') : 
          (transaction.book.synopsys + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
        : 'Este libro no posee descripción.'}} </p>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>

    <div *ngIf="itsRequest else noRequest">
      <ion-label>Solicitaste el libro</ion-label>
      <div [ngSwitch]="transaction.transactionStates.id">

        <div *ngSwitchCase="1">
          <!-- Pending-->
          <p>Solicitud pendiente de aprobación</p>
          <ion-button color="secondary" (click)="cancelTransaction(41)">Cancelar</ion-button>
        </div>

        <div *ngSwitchCase="11">
          <!-- Allowed-->
          <p>¡Solicitud aceptada!</p>
          <div *ngIf="!contact">
            <ion-button color="secondary" (click)="getContactDetail()">Mostrar Datos</ion-button>
          </div>
          <div *ngIf="contact">
            <ion-button color="secondary" (click)="hideContactDetail()">Ocultar Datos</ion-button>
            <p>{{contact.firstname}}-{{contact.lastname}}</p>
            <p>{{contact.email}}</p>
            <p>{{contact.phone}}</p>
          </div>
          <ion-button color="secondary" (click)="cancelTransaction(41)">Cancelar solicitud</ion-button>
        </div>

        <div *ngSwitchCase="21">
          <!--Deny-->
          <p>
            Solicitud denegada por el dueño del libro.
          </p>
          <ion-button color="secondary" (click)="cancelTransaction(41)">Eliminar</ion-button>
        </div>

        <div *ngSwitchCase="31">
          <!--Complete Dejar de mostrar y mostrar en Mis libros-->
          <ion-label>
            ¡Transacción exitosa!
          </ion-label>
        </div>

        <div *ngSwitchCase="41">
          <ion-label>Transaccion anulada</ion-label>
        </div>

        <div *ngSwitchCase="51">
          <ion-label>
            Ocurrió un error.
          </ion-label>
        </div>

        <div *ngSwitchCase="61">
          <ion-label>
            La transacción llegó a su tiempo máximo de espera y ha sido cancelada.
          </ion-label>
        </div>

        <div *ngSwitchCase="71 || 101">
          <ion-button color="secondary" (click)="scanQR()">Escanear QR</ion-button>
        </div>

        <div *ngSwitchCase="81">
          <ion-label>Fallo el Scan</ion-label>
          <p>Debes esperar que el Dueño Genere un nuevo QR</p>
        </div>
        <div *ngSwitchCase="91">
          <ion-label>Escaneo Exitoso</ion-label>
          <p>El dueño debe confimar la transaccion para Completar!</p>>
        </div>

      </div>
    </div>
    <ng-template #noRequest>
      <div [ngSwitch]="transaction.transactionStates.id">
        <div *ngSwitchCase="1">
          <!-- Pending-->
          <ion-button color="secondary" (click)="allowTransaction()">Aceptar</ion-button>
          <ion-button color="secondary" (click)="cancelTransaction(41)">Denegar</ion-button>
        </div>
        <div *ngSwitchCase="11">
          <!-- Allowed-->
          <p>
            Se enviaron tus datos de contacto al Solicitante
          </p>
          <div *ngIf="!contact">
            <ion-button color="secondary" (click)="getContactDetail()">Mostrar Datos</ion-button>
          </div>
          <div *ngIf="contact">
            <ion-button color="secondary" (click)="hideContactDetail()">Ocultar Datos</ion-button>
            <p>{{contact.firstname}}-{{contact.lastname}}</p>
            <p>{{contact.email}}</p>
            <p>{{contact.phone}}</p>
          </div>
          <ion-button color="secondary" (click)="updateState(71)">Generar QR</ion-button>
          <p>Cancelar en Este Punto Te Penalizara!!</p>
          <ion-button color="secondary" (click)="cancelTransaction(41)">Cancelar</ion-button>
        </div>

        <div *ngSwitchCase="21">
          <!-- Deny-->
          Denegaste la Transaccion,<br> El libro esta disponible para ser solicitado por alguien mas
          <br>
          <ion-button color="secondary" (click)="updateState(1)">Reanudar</ion-button>
          <br>
          <ion-button color="secondary" (click)="cancelTransaction(41)">Cancelar</ion-button>
        </div>
        <div *ngSwitchCase="31">
          <!--Complete Dejar de mostrar y mostrar en Mis libros-->
          <ion-label>
            Transaccion Completada con extio
          </ion-label>
        </div>
        <div *ngSwitchCase="41">
          <p>
            Transaccion Cancelada! No hay vuelta atras
          </p>
          <p>
            En unos Dias desaparecera de la vista
          </p>
        </div>
        <div *ngSwitchCase="51">
          Por algun motivo la transaccion Fallo
          por favore Comunicarse con algun moderador
        </div>
        <div *ngSwitchCase="61">
          <p>
            Se acabo el Tiempo de Espera de la Transaccion
            La transaccion a sido cancelada
          </p>
          <p>
            Dentro de Poco dejaras de ver esta transaccion
          </p>
        </div>

        <div *ngSwitchCase="71 || 101">
          <ion-button color="secondary" *ngIf="createdCode" (click)="hideQR()">Ocultar QR</ion-button>
          <ion-button color="secondary" *ngIf="!createdCode" (click)="showQR()">Mostrar QR</ion-button>
          <ion-card *ngIf="createdCode">
            <ngx-qrcode [qrc-value]="createdCode">
            </ngx-qrcode>
            <!-- <ion-card-content>
                  Value: {{ createdCode }}
                </ion-card-content> -->
          </ion-card>
        </div>
        <div *ngSwitchCase="81">
          <ion-label>Fallo el Scan</ion-label>
          <ion-button (click)="regenerateQR()">Regenerar QR</ion-button>
        </div>
        <div *ngSwitchCase="91">
          <ion-label>Escaneo Exitoso</ion-label>
          <ion-button (click)="completeTransaction()">Confirmar Transaccion</ion-button>
        </div>
      </div>
    </ng-template>

    <div class="ion-text-right">
      <ion-button (click)="viewDetailBook()">Ver libro</ion-button>
    </div>

  </ion-card-content>
</ion-card>