<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-title>Buscar Libros</ion-title>
  
      <ion-buttons slot="primary" (click)="goBack()">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>


<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>Buscar libros cercanos</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Rango de la búsqueda (km)</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-range min="0" max="50" step="10" pin="true" snaps="true" color="primary" [(ngModel)]="range"></ion-range>            
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button class="center" color="primary" (click)="searchBooks(range)">Buscar libros</ion-button>
        </ion-col>      
      </ion-row>

      <ion-row> 
          <ion-item *ngIf="message">
              <ion-label>{{message}}</ion-label>
          </ion-item>
        <ion-item *ngFor="let book of bookList">
            <app-item-book [book]="book"></app-item-book>
        </ion-item>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
