<ion-item>
  <ion-avatar slot="start">
    <img src="{{book.image}}">
  </ion-avatar>
  <ion-label>
    <h3>{{book.title}}</h3>
    <p>{{book.authors}}</p>
    <p *ngIf="book.synopsys"> {{book.synopsys}} </p>
    <p *ngIf="!book.synopsys"> Este libro no posee descripción.</p>

    <ion-chip *ngIf="(!itsOwner && book.available)" color="success">
      <ion-label>Disponible</ion-label>
    </ion-chip>

    <ion-chip *ngIf="(itsOwner && !book.available)" color="danger">
      <ion-label>No disponible</ion-label>
    </ion-chip>

    <div *ngIf="(!itsOwner && !book.available)">
      <ion-chip color="warning">
        <ion-label>Leyendo</ion-label>
      </ion-chip>
    </div>

  </ion-label>

  <br>

  <div class="ion-text-right">
    <ion-button (click)="viewDetailBook()">Ver libro</ion-button>
    <ion-button *ngIf="(!itsOwner && !book.available)" color="warning" (click)="finishBook()">Terminado</ion-button>
  </div>
</ion-item>