<ion-card>
  <img src="{{book.image}}" />
  <ion-card-header>
    <ion-card-subtitle>{{book.authors}} - {{book.gender.name}}</ion-card-subtitle>
    <ion-card-title>{{book.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-label *ngIf="(itsOwner && book.available)"> Disponible Para Solicitar</ion-label>
    <ion-label *ngIf="(itsOwner && !book.available)"> Propio No Disponible? </ion-label>
    <ion-label *ngIf="(!itsOwner && !book.available)"> Leyendo <ion-button color="tertiary" (click)="finishBook()">
        Terminado</ion-button>
    </ion-label>
    <ion-label *ngIf="(!itsOwner && book.available)"> Disponible Para Solicitar </ion-label>


    <ion-label *ngIf="book.synopsys"> {{book.synopsys}} </ion-label>
    <ion-label *ngIf="!book.synopsys"> Descripcion no disponible...</ion-label>
    <ion-button color="secondary" (click)="viewDetailBook()">Ver Libro</ion-button>
  </ion-card-content>
</ion-card>