<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Libro - {{book.title}}</ion-title>

    <ion-buttons slot="primary" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <img src="{{book.image}}" />
      <ion-card-header>
        <ion-card-subtitle>{{book.authors}} - {{book.gender.name}}</ion-card-subtitle>
        <ion-card-title>{{book.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{book.synopsys}}
        <br>
        <ion-item>
          <ion-label>{{book.publisher}} ( {{book.publishDate }} )</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{book.language}} - Pags ( {{book.pages}} )</ion-label>
        </ion-item>
        <ion-item>
          <ion-label> {{book.bookConditions.condition.description}}</ion-label>
          <ion-label> {{book.bookConditions.personalOpinion}}</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngIf="book.itsOwner">
            <ion-row>
              <ion-col>
                <ion-button color="secondary" (click)="deleteBook()">Eliminar</ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="secondary" (click)="editBook()">Editar</ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="!book.itsOwner">
            <ion-row>
              <ion-col>
                <ion-button color="secondary" (click)="requestBook()">Solicitar</ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>