<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Libro {{book.title}}</ion-title>

    <ion-buttons slot="primary" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
  <ion-card>
    <ion-card-header text-center>
      <img src="{{book.image}}" />
      <ion-card-subtitle>{{book.authors}}</ion-card-subtitle>
      <ion-card-title>{{book.title}}</ion-card-title>
      <ion-chip color="tertiary">
        <ion-label>{{book.bookConditions ? book.bookConditions.condition.description : ''}}</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Detalle del libro</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Género: {{book.gender ? book.gender.name : ''}}</ion-label>
        </ion-item>

        <ion-item>
          Sinopsis: {{book.synopsys}}
        </ion-item>

        <ion-item>
          <ion-label>Editorial: {{book.publisher}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Año: {{book.publishDate }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Lenguaje: {{book.language}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Páginas: {{book.pages}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Estado: {{book.bookConditions ? book.bookConditions.personalOpinion : ''}}</ion-label>
        </ion-item>

      </ion-item-group>

      <br>

      <div>
        <div *ngIf="book.itsOwner" text-right>
          <ion-button color="danger" (click)="deleteBook()">Eliminar</ion-button>
          <ion-button color="secondary" (click)="editBook()">Editar</ion-button>
        </div>
        <div *ngIf="!book.itsOwner" text-right>
          <ion-button color="success" (click)="requestBook()">Solicitar</ion-button>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</div>
</ion-content>